<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>磁力链前缀</title>
    <link rel="stylesheet" href="../css/index.css" />
    <style>
      h2 {
        text-align: center;
      }
      input {
        width: 800px;
        height: 40px;
      }
      button {
        width: 100px;
        height: 40px;
      }
      p{
        width: 800px;
      }
      #in,#out {
        /* width: 800px; */
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h2>磁力链前缀</h2>
    </header>
    <main>
      <section id="in">
        <input id="input" type="text" /> <button onclick="out()">确定</button>
      </section>
      <section id="out">
        <p id="outp"></p>
      </section>
    </main>
    <footer></footer>
    <script>
      const outp = document.getElementById('outp')
      const input = document.getElementById('input')
      const out = () => {
        outp.innerHTML = `magnet:?xt=urn:btih:${input.value.trim()}`   
      }
    </script>
  </body>
</html>
